html {
    scroll-behavior: smooth;
    
}
body{
    font-family: 'Share Tech', sans-serif;
    background-color: rgb(2, 2, 36);
    color: white;
    display: flex;
    flex-direction: column;
    transition: all ease-in-out;
}
.contents{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 2.3rem;
    position:relative;
}
section{
    position: inherit;
    min-height: 100vh;
    width: 100%;
}
section h1{
    font-size: 2rem;
    margin: 5%;
    color: ivory;
    text-decoration: underline;
}
a{
    text-decoration: none;
}
.burger{
    display: flex;
    width: fit-content;
    z-index: 100;
    font-size: 2rem;
    position:fixed;
    cursor: pointer;
    top: 0;
    right: 0;
    margin: 10px;
    
}
.sidenav{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 0%;
        position: fixed;
        z-index: 100;
        top: 0;
        right: 0;
        background-color: rgb(34, 31, 31);
        overflow-x: hidden;
        transition: 0.5s; 
}
.sidenav a{
    color: ivory;
    text-align: center;
    width: 100%;
    padding: 0 10px;
    font-size: 2rem;
}

/* Landing page */
.landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height:100vh;
    background-image:linear-gradient(345deg, rgba(2, 2, 36,.7) 0%, rgba(0,0,0,.7) 85%, rgba(0,0,0,.7) 100%), url(/images/motherboard.jpg);
    background-position: center;
    font-size: 2rem;
    text-align: center;
    padding: 0 2.3rem;
    align-items: center;
}
#down-button{
    border: 1px solid white;
    color: white;
    background-color: rgb(0, 0, 0, .6) ;
}
#down-button:hover{
    transition: .3s ease;
    transform: rotate(90deg);
    border: 3px solid white;
}

/* about */
.about p{
    height: 100%;
    margin: auto 0;
    line-height: 2rem;
    text-indent: 2rem;
}

/* resume */
.resume-container{
    display: flex;
    line-height: 2rem;
    padding: 0 5%;
}


.resumeColumn1{
    border-right: 1px solid white;
    margin-right: 3rem;
    flex:2;
}
.resumeColumn2{
    flex:3;
}



/* portfolio */
.portfolio h2{
    text-align: center;
    margin-bottom: 5%;
}
.projects{
    display: grid;
    grid-auto-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.projectLink{
    margin: 0 auto;
    max-width: fit-content;
    text-align: center;
}
.projectLink img:hover{
    transition: .5s ease;
    box-shadow: 0px 10px 14px 2px rgba(0,0,0,0.86);
    transform: scale(1.1) translateY(-5%) ;
    border: 3px solid white;
}

/* Contact */
.contact-box{
    border-radius: 10%;
    min-height: 80vh;
    background-color: rgb(34, 31, 31);
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    padding: 15%;
    gap: 5px;
}
.contact-1{
    display: flex;
    flex-direction: column;
    flex:1;
}
.contact-2{
    flex: 2;
}
.contact-2 form{ 
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: .5em;
}
input, select, textarea, #submit{
    outline: 0;
    border: 3px solid white;
    /* margin: 0; */
    transition: .2s border;
    
}
input:focus, select:focus, textarea:focus{
    border:3px solid rgb(1, 1, 196);
}
#submit:hover{
    border:3px solid rgb(1, 1, 196);
}
#up-button{
    margin: 0 auto;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    transform: translateY(-15px);
    border: 1px solid white;
    color: white;
    background-color: rgb(0, 0, 0, .6) ;
}
#up-button:hover{
    transition: .3s ease;
    transform: scale(1.5) translateY(-20px);
    border: 2px solid white;
}

@media only screen and (max-width: 600px){
    .landing{
        font-size: 1.5rem;
    }
    .resume-container{
        flex-direction: column;
    }
    .resumeColumn1{
        gap: 3rem;
        border:none;
        
    }
    .contact-box{
        flex-direction: column;
    }
    .projects{
        display:flex;
        flex-direction: column-reverse;
    }
}


